{% extends "base.html" %}


{% block content %}
    <h1>Exposure Time Calculator  </h1>


<form class="form form-vertical" method=post action="">

	        {{ form.hidden_tag() }}


  <h4>Results</h4>
  <div>
    <div>


 	{% if choice == 'time' %}

      <input type="radio" name="choice-calc" id="choice-calc-snr"   value='snr' required>

       {% else %}
      <input type="radio" name="choice-calc" id="choice-calc-snr" checked='checked' value='snr' required>

	{% endif %}

      <label for="choice-calc-snr">Calculate the Exposure Time</label>
    
      <div class="reveal-if-active">
	      {{snrtimeform.snr.label}}
	{{ snrtimeform.snr(class_="require-if-active",pair="#choice-calc-snr") }}
      </div>
    </div>
    
    <div>

 	{% if choice == 'time' %}

      <input type="radio" name="choice-calc" id="choice-calc-exptime", value='time', checked='checked'>

       {% else %}
      <input type="radio" name="choice-calc" id="choice-calc-exptime", value='time'>

	{% endif %}
     <!-- have it default selected if time was selected -->



      <label for="choice-calc-exptime">Calculate SNR</label>
    
      <div class="reveal-if-active">
	{{snrtimeform.exptime.label}}
	{{ snrtimeform.exptime(class_="require-if-active",pair="#choice-calc-exptime") }}
      </div>
    </div>
  </div>
  
  
  <h4>CCD Properties</h4>

<table class="table">

	{% for field in ccdform1 if field.widget.input_type != 'hidden' %}
	   <tr>
    <td>{{ field.description }}</td><td>{{ field(size=12) }}</td>
    <td>{{ field.label }}</td>


    {% if field.errors %}
      <td><ul class=errors>
      {% for error in field.errors %}
        <li><font color="red">{{ error }}</font></li>
      {% endfor %}</ul></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>



<p style='font-size:10px;'><input class='btn btn-warning ' type=submit value=Compute></form></p>


	{% if result != None %}

	<p><b>{{ finalcalc }} </b></p>

	<div>
	 {{ plot_div|indent(4)|safe }}
	</div>

	{% endif %}

{% endblock %}
