{% extends "base.html" %}


{% block content %}
    <h1>Exposure Time Calculator  </h1>


<form class="form form-vertical" method=post action="">

	        {{ form.hidden_tag() }}


  <h4>Which do you like more?</h4>
  <div>
    <div>

      <input type="radio" name="choice-calc" id="choice-calc-snr" value='snr' required>
      <label for="choice-calc-snr">Calculate the Exposure Time</label>
    
      <div class="reveal-if-active">
	      {{snrtimeform.snr.label}}
	{{ snrtimeform.snr(class_="require-if-active",pair="#choice-calc-snr") }}
	<!-- <input type="text" id="which-dog" name="which-dog" class="require-if-active" data-require-pair="#choice-animals-dogs">-->
      </div>
    </div>
    
    <div>
      <input type="radio" name="choice-calc" id="choice-calc-exptime", value='time'>
      <label for="choice-calc-exptime">Calculate SNR</label>
    
      <div class="reveal-if-active">
	      <!--<label for="which-cat">Why? Cats are weird. Respond.</label>-->
	{{snrtimeform.exptime.label}}
	{{ snrtimeform.exptime(class_="require-if-active",pair="#choice-calc-exptime") }}
	<!--<input type="text" id="which-cat" name="which-cat" class="require-if-active" data-require-pair="#choice-animals-cats">-->
      </div>
    </div>
  </div>
  
<!--
<table class="table">

	{% for field in form if field.widget.input_type != 'hidden' %}
	   <tr>
    <td>{{ field.name }}</td><td>{{ field(size=12) }}</td>
    <td>{{ field.label }}</td>


    {% if field.errors %}
      <td><ul class=errors>
      {% for error in field.errors %}
        <li><font color="red">{{ error }}</font></li>
      {% endfor %}</ul></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>-->


  <h4>CCD Properties</h4>
  <div>
    <div>

      <input type="radio" name="choice-ccd" id="choice-calc-ccd-one" value='ccd1' required>
      <label for="choice-calc-ccd-one"> CCD Número Uno    </label>
    
      <div class="reveal-if-active">

<table class="table">

	{% for field in ccdform1 if field.widget.input_type != 'hidden' %}
	   <tr>
    <td>{{ field.description }}</td><td>{{ field(size=12,class_="require-if-active",pair="#choice-calc-ccd-one") }}</td>
    <td>{{ field.label }}</td>


    {% if field.errors %}
      <td><ul class=errors>
      {% for error in field.errors %}
        <li><font color="red">{{ error }}</font></li>
      {% endfor %}</ul></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>

      </div>
    </div>
    
    <div>
      <input type="radio" name="choice-ccd" id="choice-calc-ccd-two", value='ccd2'>
      <label for="choice-calc-ccd-two">CCD Número dos</label>
    
      <div class="reveal-if-active">

	      <table class="table">

	{% for field in ccdform2 if field.widget.input_type != 'hidden' %}
	   <tr>
    <td>{{ field.description }}</td><td>{{ field(size=12,class_="require-if-active",pair="#choice-calc-ccd-two") }}</td>
    <td>{{ field.label }}</td>


    {% if field.errors %}
      <td><ul class=errors>
      {% for error in field.errors %}
        <li><font color="red">{{ error }}</font></li>
      {% endfor %}</ul></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>


      </div>
    </div>
  </div>




<p><input class='btn btn-warning ' type=submit value=Compute></form></p>

	{% if result != None %}

	<p><b>{{ finalcalc }} </b></p>

	<div>
	 {{ plot_div|indent(4)|safe }}
	</div>

	{% endif %}

{% endblock %}
